# All the secrets are here

# development or build configs
NODE_ENV= "development"

# server env configs
SERVER_PORT= 7164

# database env cofigs
DB_URL= "mysql://user:password@localhost/database_name"
DB_PORT= 3306
DB_HOST= "localhost"
DB_USERNAME= "root"
DB_PASSWORD= ""
DB_NAME= "fastify_mysql_database"

#redis database env confifs
DB_REDIS_URL=
REDIS_SERVER_PORT= 6379
DB_REDIS_HOST= "upstash.io"
DB_REDIS_USERNAME=
DB_REDIS_PASSWORD= ""
DB_REDIS_NAME=

# api env path 
API_PATH= "/api"
